@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-1: var(--slate-1);
    --gray-2: var(--slate-2);
    --gray-3: var(--slate-3);
    --gray-4: var(--slate-4);
    --gray-5: var(--slate-5);
    --gray-6: var(--slate-6);
    --gray-7: var(--slate-7);
    --gray-8: var(--slate-8);
    --gray-9: var(--slate-9);
    --gray-10: var(--slate-10);
    --gray-11: var(--slate-11);
    --gray-12: var(--slate-12);

    --primary-1: var(--indigo-1);
    --primary-2: var(--indigo-2);
    --primary-3: var(--indigo-3);
    --primary-4: var(--indigo-4);
    --primary-5: var(--indigo-5);
    --primary-6: var(--indigo-6);
    --primary-7: var(--indigo-7);
    --primary-8: var(--indigo-8);
    --primary-9: var(--indigo-9);
    --primary-10: var(--indigo-10);
    --primary-11: var(--indigo-11);
    --primary-12: var(--indigo-12);

    --error-1: var(--crimson-1);
    --error-2: var(--crimson-2);
    --error-3: var(--crimson-3);
    --error-4: var(--crimson-4);
    --error-5: var(--crimson-5);
    --error-6: var(--crimson-6);
    --error-7: var(--crimson-7);
    --error-8: var(--crimson-8);
    --error-9: var(--crimson-9);
    --error-10: var(--crimson-10);
    --error-11: var(--crimson-11);
    --error-12: var(--crimson-12);

    --succes-1: var(--green-1);
    --succes-2: var(--green-2);
    --succes-3: var(--green-3);
    --succes-4: var(--green-4);
    --succes-5: var(--green-5);
    --succes-6: var(--green-6);
    --succes-7: var(--green-7);
    --succes-8: var(--green-8);
    --succes-9: var(--green-9);
    --succes-10: var(--green-10);
    --succes-11: var(--green-11);
    --succes-12: var(--green-12);

    --warning-1: var(--yellow-1);
    --warning-2: var(--yellow-2);
    --warning-3: var(--yellow-3);
    --warning-4: var(--yellow-4);
    --warning-5: var(--yellow-5);
    --warning-6: var(--yellow-6);
    --warning-7: var(--yellow-7);
    --warning-8: var(--yellow-8);
    --warning-9: var(--yellow-9);
    --warning-10: var(--yellow-10);
    --warning-11: var(--yellow-11);
    --warning-12: var(--yellow-12);

    --info-1: var(--blue-1);
    --info-2: var(--blue-2);
    --info-3: var(--blue-3);
    --info-4: var(--blue-4);
    --info-5: var(--blue-5);
    --info-6: var(--blue-6);
    --info-7: var(--blue-7);
    --info-8: var(--blue-8);
    --info-9: var(--blue-9);
    --info-10: var(--blue-10);
    --info-11: var(--blue-11);
    --info-12: var(--blue-12);

    --critical-1: var(--tomato-1);
    --critical-2: var(--tomato-2);
    --critical-3: var(--tomato-3);
    --critical-4: var(--tomato-4);
    --critical-5: var(--tomato-5);
    --critical-6: var(--tomato-6);
    --critical-7: var(--tomato-7);
    --critical-8: var(--tomato-8);
    --critical-9: var(--tomato-9);
    --critical-10: var(--tomato-10);
    --critical-11: var(--tomato-11);
    --critical-12: var(--tomato-12);

    --background-15: #ffffff42;
    --background: 0 0% 100%;
    --background-hover: 0 0% 90%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background-15: #0307112a;
    --background: 224 71.4% 4.1%;
    --background-hover: 224 10.4% 6.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 10.9% 10.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 10.9% 10.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 10.9% 10.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 10.9% 13.9%;
    --input: 215 10.9% 10.9%;
    --ring: 263.4 70% 50.4%;
  }
}

* {
  @apply text-gray-12;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.outline-no:focus {
  outline: none !important;
}

.outline-no[data-focus-visible="true"] {
  outline: none !important;
}
