/* .layout {
  transition: 300ms;

  height: 100vh;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 70px 1fr;
}

.layoutOpen {
  grid-template-columns: 300px 1fr;
}
.layoutClosed {
  grid-template-columns: 70px 1fr;
}

.sidebar {
  background-color: hsl(var(--background));
  grid-column: 1;
  grid-row: 1/3;
  width: 100%;
}
.header {
  background-color: hsl(var(--background));
  grid-column: 2/3;
  grid-row: 1;
}
.main {
  background-color: hsl(var(--muted));
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 16px;
  overflow-x: auto;
} */

.layout {
  @apply flex flex-col sm:grid sm:grid-cols-[64px,1fr] sm:grid-rows-[64px,1fr] min-h-screen h-full lg:grid-cols-[250px,1fr];
}

.header {
  @apply col-start-2 col-end-3;
}

.sidebar {
  @apply col-span-1 row-start-1 row-end-3 h-full;
}

.main {
  @apply flex-grow bg-gray-3 p-4;
}
