@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-15: #ffffff42;
    --background: 0 0% 100%;
    --background-hover: 0 0% 90%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --red: #ef4444;
    --blue: #3b82f6;
    --yellow: #eab308;
    --green: #22c55e;
  }

  .dark {
    --background-15: #0307112a;
    --background: 224 71.4% 4.1%;
    --background-hover: 224 10.4% 6.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 10.9% 10.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 10.9% 10.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 10.9% 10.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 10.9% 13.9%;
    --input: 215 10.9% 10.9%;
    --ring: 263.4 70% 50.4%;
    --red: #ef4444;
    --blue: #3b82f6;
    --yellow: #eab308;
    --green: #22c55e;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-scroll::-webkit-scrollbar {
  @apply h-[10px] w-[10px];
}

.custom-scroll::-webkit-scrollbar-track {
  @apply bg-muted;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground rounded-[2px];
}

@keyframes taskApperaAnimation {
  0% {
    filter: drop-shadow(0 20px 13px rgba(255, 255, 255, 0))
      drop-shadow(0 8px 5px rgba(0, 0, 0, 0));
  }
  100% {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    border: hsl(var(--border)) 1px solid;
  }
}

/* Apply animation to the element */
.taskAppear {
  animation: taskApperaAnimation 0.1s forwards ease-in;
}

.light-theme-only {
  color-scheme: "root";
}
